<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ids</key>
	<dict>
		<key>Endo</key>
		<string>21159967420</string>
		<key>PI</key>
		<string>21159616110</string>
		<key>UroPH</key>
		<string>21161087289</string>
	</dict>
</dict>
</plist>
