<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ids</key>
	<dict>
		<key>Test</key>
 		<string>30069539915</string>
		<key>UroPH</key>
 		<string>7051747085</string>
		<key>Endo</key>
 		<string>11235204697</string>
		<key>IC</key>
 		<string>6704601169</string>
		<key>YPN</key>
 		<string>13409059100</string>
		<key>RMEurope</key>
 		<string>29006085499</string>
		<key>EuropeCC</key>
 		<string>33224768587</string>
	</dict>
</dict>
</plist>
